<app-banner-image i18n-bannerText imageUrl="url('assets/overview_1.jpg')" bannerText="About Us"></app-banner-image>
<div class="page__content">
    <section>
        <h3 i18n>Title 1 - Lorem ipsum dolor</h3>
        <div class="row">
            <div class="text">
                <p i18n>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sollicitudin elementum
                    vulputate.
                    Donec egestas nisi sed justo accumsan placerat. Sed eleifend sit amet mi sed efficitur. Sed
                    ultricies,
                    neque dictum iaculis eleifend, eros lorem aliquam nisl, id maximus lacus nulla id arcu. Nunc
                    consequat,
                    mauris non blandit rhoncus, velit odio ullamcorper velit, nec vehicula.
                </p>
                <p i18n>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sollicitudin elementum
                    vulputate.
                    Donec egestas nisi sed justo accumsan placerat. Sed eleifend sit amet mi sed efficitur. Sed
                    ultricies,
                    neque dictum iaculis eleifend, eros lorem aliquam nisl, id maximus lacus nulla id arcu. Nunc
                    consequat,
                    mauris non blandit rhoncus, velit odio ullamcorper velit, nec vehicula.</p>
            </div>
            <div class="image" i18n-title title="Your home - your lounge"
                [style.backgroundImage]="'url(\'assets/house_2.jpg\')'">
            </div>
        </div>
    </section>

    <section>
        <h3 class="right" i18n>Title 2 - Lorem ipsum dolor</h3>
        <div class="row row--reverse">
            <div class="text">
                <p i18n>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sollicitudin elementum
                    vulputate.
                    Donec egestas nisi sed justo accumsan placerat. Sed eleifend sit amet mi sed efficitur. Sed
                    ultricies,
                    neque dictum iaculis eleifend, eros lorem aliquam nisl, id maximus lacus nulla id arcu. Nunc
                    consequat,
                    mauris non blandit rhoncus, velit odio ullamcorper velit, nec vehicula.
                </p>
                <p i18n>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sollicitudin elementum
                    vulputate.
                    Donec egestas nisi sed justo accumsan placerat. Sed eleifend sit amet mi sed efficitur. Sed
                    ultricies,
                    neque dictum iaculis eleifend, eros lorem aliquam nisl, id maximus lacus nulla id arcu. Nunc
                    consequat,
                    mauris non blandit rhoncus, velit odio ullamcorper velit, nec vehicula.</p>
            </div>
            <div i18n-title title="Your home - your castle" class="image"
                [style.backgroundImage]="'url(\'assets/house_1.jpg\')'">
            </div>
        </div>
    </section>
</div>