.logo__letters {
    position: absolute;
    top: 70px;
    display: flex;
    flex-flow: column;
}
.logo__row--1 {
    position: absolute;
    display: flex;
    /* margin-left: 16px; */
    left: 34px;
    top: -10px;

    span {
        font-size: 48px;
    }

    .logo__underlined {
        top: 2px;
        position: absolute;
        left: 40px;
    }
}

.logo__row--2 {
    display: flex;
    position: absolute;
    top: 6px;
    left: 1px;

    span {
        font-size: 90px;
    }

    .logo__underlined {
        top: 13px;
        position: absolute;
        left: 42px;
    }
}