

$font-size: 18px;
$deep-green: #015726; //#047845;
$green-black: #092102;
$light-green: #457821;
$pastel-wood: #f2edd7;
$pastel-wood--darker: #e5dcb1;
$grey-wood: #c2bdb7;
$brick-red: #b22222;
$light-gray: #a3a3a3;
$dark-gray: #334F52;
$big-moutain-green: #008037;