@import './colors.scss';

$homes-palette-primary: (
  100: $pastel-wood,
  200: #d3d47d,
  300: #C1c34b,
  400: #b4b820,
  500: #a8ae00,
  600: #9c9e00,
  700: #8c8a00,
  800: #7b7400,
  900: #5f5100,
  contrast: (
    100: #c8e6c9,
    200: #c8e6c9,
    300: #c8e6c9,
    400: #c8e6c9,
    500: #c8e6c9,
    600: #c8e6c9,
    700: #c8e6c9,
    800: #f6f6f6,
    900: #f6f6f6
 )
);

$homes-palette-secondary: (
  100: #c8e6c9,
  200: #a5d6a7,
  300: #81c784,
  400: #66bb6a,
  500: #4caf50,
  600: #43a047,
  700: #388e3c,
  800: $deep-green,
  900: #1b5e20,
  contrast: (
    100: #c8e6c9,
    200: #c8e6c9,
    300: #c8e6c9,
    400: #c8e6c9,
    500: #c8e6c9,
    600: #e5e5ae,
    700: #e5e5ae,
    800: #f2edd7,
    900: #e5e5ae
 )
);