:host {
    display: block;
    transform: translate(0px);
}

.image-container {
    height: 12rem;

    img {
        height: 100%;
    }
}

.text-container {
    height: 7rem;
    width: 16rem;
    padding: 1rem;
    position: absolute;
    z-index: 1;
    top: 6rem;
    background: #f2edd7;

    &--left {
        left: 6rem;
        box-shadow: 1px 2px 3px #343434;
        
    }

    &--right {
        left: -6rem;
        box-shadow: -2px 2px 3px #343434;
    }
    
}

@media (max-width: 1050px) {
    .text-container {
        height: 5rem;
        width: 20rem;
        padding: 0.5rem;
        top: 8rem;
    
        &--left {
            left: 4rem;
        }
    
        &--right {
            left: -4rem;
        }
        
    }
}

@media (max-width: 750px) {
    :host {
        margin: 1rem;
    }

    .text-container {
        height: 6rem;
        width: 14rem;
        padding: 0.5rem;
        top: 5rem;
    
        &--left {
            left: 2rem;
        }
    
        &--right {
            left: -2rem;
        }
        
    }
}
