:host {
    display: block;
}

.houses__filter {
    padding: 16px;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;

    .houses__criteria {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }

    .house__criteria-label {
        font-weight: 600;
    }
}

@media (max-width: 750px) {
    .houses__filter {
        display: flex;
        flex-flow: column;

        .houses__criteria {
            flex: 1 1 auto;
            display: flex;
        }
    }
}