<div class="house-details__title">
    <h1>{{ house?.name | translate }}</h1>
</div>
<div fxLayout="row">
    <div class="house-details__image">
        <img [src]="'../assets/' + house?.image">
    </div>
    <div class="house-details__description">
        {{ house?.description | translate }}
    </div>
</div>
<div fxLayout="row">
    <div fxLayout="column" class="house-details__specifications">
        <div>{{ resourceStrings?.sqm }}</div>
        <div>{{ house?.SQM }}</div>
        <div>{{ resourceStrings.price | uppercase }}&nbsp;{{  resourceStrings.meterSymbol }}<sub>2</sub></div>
        <div>{{ house?.costPerSQM }}&nbsp;{{ resourceStrings?.costPerSQM }}<sub>2</sub></div>
        <div>{{ resourceStrings?.floors }}</div>
        <div>{{ house?.floors }}</div>
    </div>
    <div fxLayout="column">
        <div fxLayout="row"></div>
    </div>
    <div fxLayout="column">
        <div fxLayout="row"></div>
    </div>
    <div fxLayout="column">
        <div fxLayout="row"></div>
    </div>
</div>