<app-banner-image i18n-bannerText imageUrl="url('assets/house_3d_2.jpg')" bannerText="Локация"></app-banner-image>
<div class="page__content">
    <section>
        <div class="row">
            <div class="text">
                <h3 i18n>Локация</h3>
                <p i18n>Къщите са разположени на комуникативно място в град Сливница само на 15 минути от град
                    София, пътувайки 19 км. по новата магистрала „Европа“. До столицата може да се стигне и с
                    редовни автобуси, които минават през не повече от 30 минути в пиковите часове, и жп линия, по
                    която има влакове на всеки 2 часа. В процес на изграждане е скоростна жп линия, чрез която ще
                    се стига за по-малко от 15 мин, като една от спирките на тази линия ще има топла връзка със
                    столичното метро. Новата линия се очаква да бъда пусната още през 2024г.
                </p>
                <p i18n>Комплексът е на много удобна локация, разполагаща с гледка към природата и в същото време в
                    изключителна близост до центъра. Намира се срещу спортната зала и стадиона, само на 10 минути
                    пеша от централния площад и училището за средно образование СУ &quot;Св. Св. Кирил и Методий&quot; и
                    само на 5 минути от детска градина “Сливница”. Всичко това позволява да се насладите на
                    спокойствието и тишината на малкия град, а същевременно да сте в близост до забързаното
                    ежедневие на столицата.
                </p>
                <p><a href="https://goo.gl/maps/k2Qvgiie335pedAp9?fbclid=IwAR2C-8-2WWVqIsObnighnCF_KnisGQ-tiUE0gcF541SUPMHpKE9NlzEHBFw"
                        target="_blank" i18n>Вижте локацията</a></p>
            </div>
        </div>
    </section>
</div>