:host {
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100%;
}



.houses {

    &__header {
        align-self: center;
        width: 60%;

        .mat-form-field {
            max-width: 80%;
        }
    }
    &__body {
        align-self: center;
        height: 70%;
        width: 100%;
    }
    &__footer {
        height: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;


        button {
            height: 2rem;
        }
    }
}

@media (max-width: 750px) {
    .houses__filter {
        display: flex;
        flex-flow: column;

        .houses__criteria {
            flex: 1 1 auto;
            display: flex;
        }
    }
}