<app-banner-image imageUrl="url('../assets/{{resourceStrings.imageUrl}}')" [bannerText]="resourceStrings.bannerText"></app-banner-image>
<div #houseFilter class="houses__header">
    <app-house-filter [filterForm]="filterForm" [priceOptions]="priceOptions"></app-house-filter>
</div>
<div class="houses__body">
    <app-house-list [houses]="houses | async | houseFilter
    :filterForm.get('minSQM')!.value
    :filterForm.get('maxSQM')!.value
    :filterForm.get('minPrice')!.value
    :filterForm.get('maxPrice')!.value
    :filterForm.get('price')!.value === 'Total'"></app-house-list>
</div>
<div class="houses__footer">
    <button mat-button (click)="houseFilter.focus()">{{ resourceStrings.backToTop }}&nbsp;<mat-icon>arrow_upward</mat-icon></button>
</div>