<div class="app">
  <mat-sidenav-container>
    <mat-sidenav #nav role="navigation">
      <app-sidenav-list (clicked)="nav.close()"></app-sidenav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <app-header (toggleNav)="nav.toggle()"></app-header>
      <main>
        <div class="app__image"></div>
        <div class="app__body">
            <router-outlet></router-outlet>
        </div>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
  
  <app-footer></app-footer>
  <app-image-modal></app-image-modal>
</div>