<mat-card class="house__card">
    <mat-card-header>
        <mat-card-title>{{ house.name | translate }}</mat-card-title>
        <mat-card-subtitle>
            <span class="subtitle__sqm">{{ house.SQM }}&nbsp;{{ resourceStrings.meterSymbol}}<sup>2</sup></span>
            &nbsp;<b>@</b>&nbsp;
            <span class="subtitle__price-sqm">{{ house.costPerSQM }}&nbsp;{{ resourceStrings.costPerSQM}}<sup>2</sup></span></mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="'../../assets/' + house.image" [alt]="'Image of '+ (house.name | translate)">
    <mat-card-content>
        <p>
            {{ house.description | translate }}
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button #button mat-button routerLink="../house/{{house.id}}">{{ resourceStrings.view }}</button>
    </mat-card-actions>
</mat-card>