<div #scrollContainer class="banner__text">
    <div class="banner__scroll">
    </div>
    <!-- <div class="mountains">
        <div class="mountain mountain--big">
        </div>
        <div class="mountain mountain--small"></div>
        <div class="mountain mountain--small"></div>
    </div> -->
    <div class="banner__text-header">
        {{ bannerText }} 
    </div>
    <div class="banner__scroll" (click)="scroll()">
        <mat-icon #scrollButton >keyboard_arrow_down</mat-icon>
    </div>
    
</div>
