@import '../../../styles/colors.scss';

:host {
    display: flex;
    flex-flow: column;
    align-items: center;
}

mat-list > a {
    font-weight: 400;
    text-decoration: none;
    color: $pastel-wood;
}

.logo__placeholder {
    font-size: 30px;
    font-weight: 600;
    padding: 16px;
}

mat-list {
    width: 100%;

    a.active {
        font-weight: 600;
        background-color: $pastel-wood;
        color: $deep-green;
        text-decoration: none;
    }
}

