
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
// Custom palettes?

@import './styles/palettes.scss';
@import './styles/colors.scss';

$homes-primary: mat.define-palette($homes-palette-primary, 100);
$homes-accent: mat.define-palette($homes-palette-secondary, 800);
$homes-warn: mat.define-palette(mat.$red-palette);

$my-custom-typography-config: mat.define-typography-config(
  $headline:  mat.define-typography-level(32px, 40px, 500),
  $subheading-2: mat.define-typography-level(24px, 32px, 500),
  $body-1: mat.define-typography-level(20px, 24px, 400),
  $body-2: mat.define-typography-level(22px, 26px, 400)
  );
  
@include mat.core($my-custom-typography-config);
// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$homes-theme: mat.define-light-theme((
  color: (
    primary: $homes-primary,
    accent: $homes-accent,
    warn: $homes-warn,
  )
));


// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($homes-theme);

/* You can add global styles to this file, and also import other style files */

@import "../node_modules/normalize.css/normalize.css";

:root {
  font-size: #{$font-size};
  font-family: "Noto Sans", Helvetica, system-ui, sans-serif;
}


html, body { height: 100%; width: 100%; }
body { margin: 0; font-family: 'PT Serif', serif, "Helvetica Neue", sans-serif; }

app-footer {
  .logo {
    font-family: 'PT Serif', serif;
  }
}

.logo__placeholder {
  font-family: 'PT Serif', serif;
}

.page__content {
  display: flex;
  padding: 16px;
  color: $green-black;
  flex-flow: column;
}

// headings and paragraphs
h3, h1 {
  color: $deep-green;
  text-transform: uppercase;
}

h3 {
  border-bottom: 2px solid $deep-green;
  padding: 4px 24px;

  .right {
      text-align: right;
  }
}

p {
  text-indent: 16px;
}

.logo--svg {
  width: 12rem;
  height: 12rem;
}

// Page layout
.row {
  display: flex;
  flex-flow: row;
  justify-content: center;

  &--reverse {
      flex-flow: row-reverse;
  }

  &--padded {
    padding: 24px 0px;
  }

  .text {
      flex-grow: 1;
      padding: 4px 16px;
      text-align: justify;
  }

  .image {
      cursor: pointer;
      width: 140rem;
      min-height: 20rem;
      border: 2px solid $deep-green;
      background-size: cover;
      background-position: center;

      img {
          width: 100%;
      }
  }

  .image--wide {
    width: 360rem;
    height: 25rem;
  }

  .image--big {
      width: 60rem;
      min-height: 20rem;
  }
}

@media (max-width: 1000px) {
  .row {
      .image {
          width: 100rem;
          min-height: 18rem;
          
      }

      .text {
          padding: 4px 12px;
      }

      .image--big {
          width: 100rem;
          min-height: 20rem;
      }
  }

  section {
      padding-bottom: 4rem;
  }
}

@media (max-width: 820px) {
  .row {
      display: flex;
      flex-flow: column-reverse;

      &--reverse {
          flex-flow: column;
      }

      .text {
         padding: 4px;
  text-align: justify;
      }

      .image {
          width: 100%;
          max-height: 15rem;
      }

      .image--big {
          width:  100%;
          min-height: 15rem;
      }
  }

  section {
      padding-bottom: 3rem;
  }
}
// pade layout end

// mat-checkbox white-space fix
mat-checkbox.no-text-wrap {
  label.mat-checkbox-layout {
    white-space: normal;
  }
}



.house__card {
  @include mat.elevation-transition();
  @include mat.elevation(1);

  &:hover {
    @include mat.elevation(3);
  }
}