@import '../../styles/colors.scss';

section {
    padding-bottom: 5rem;
}

p {
    text-indent: 16px;
}


.logo {
    width: 24rem;
    height: 24rem;

    img {
        width: 100%;
        height: 100%;
    }
}

.column {
    display: flex;
    flex-flow: column;
    align-items: center;
}


button {
    width: 8rem;
    align-self: center;
    color: $pastel-wood;
    font-size: 1rem;
    background-color: $deep-green;
}